<nav class="navbar container is-widescreen" >
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/images/logo.png" style="max-height: none"  alt="Crawler" width="60" height="60">
        </a>
        <div class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/doc">
                Api Doc
            </a>
        </div>


        <div class="navbar-end">
            <div class="navbar-item">
                <a class="navbar-item" href="http://localhost:15672" target="_blank">
                    RabbitMq
                </a>
            </div>
            <div class="navbar-item">
                <a class="navbar-item" href="/manual">
                    Manual
                </a>
            </div>
        </div>
    </div>
</nav>

