<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Create new Job</p>
            <button class="delete modal-close-btn" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <form action="/jobs" method="post">
                <label for="name">Name</label>
                <input type="text" class="input" id="name" name="name" />
                <label for="url">Url</label>
                <input type="text" class="input" id="url" name="url" />



            </form>

        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="modal-close-btn is-large" aria-label="close">
                Cancel
            </button>
        </footer>
    </div>
</div>
