{% extends 'base.html.twig' %}

{% block title %}Manual{% endblock %}

{% block body %}


<div class="content">
    <h1>Документация к проекту</h1>

    <h2>Зачем этот проект - какую проблему решает</h2>
    <p>Данный проект представляет из себя админнку для автоматизации действий в брайзере. </p>

    <p>Сравнения доступных инструментов </p>


    <h4>Как запустить</h4>

    <h3>Условия использования и распространия</h3>


    <h3>Архитектура проекта </h3>

    <p>Проект собран из нескольких docker образов.</p>


    !!!тут изображение



    <p>Админка представляет из себя приложение на базе Symfony 6 и Vue 2 и служит для запуска процессов,которые запускаются и исполняюся в эмуляторе браузера Puppetter</p>


    <h3>Нюансы использования</h3>
    <p>Надо отметить , что данный проект , служит инструментом для запуска готовых скриптов (предорставленные сценарии используюся только для ознакомления и возможно , последующего использования в качестве шаблона)</p>

    <p>Разрабатывать что - либо или тестировать скрипты не ракомендуется!</p>

    <p>Локальную разработку лучше вести внутри любимого редактора а тестировать скрипт - использую команду node your_script.js (данная каманда запустит браузер ).</p>






</div>
{% endblock %}
